snippet pe
<%= $1 %>
endsnippet

snippet er
<% $1 %>
endsnippet

snippet lt
<%= link_to '$1', $2 %>
endsnippet

snippet it
<%= image_tag '$1', $2 %>
endsnippet

snippet cit
<%= cs_image_tag $1, $2 %>
endsnippet

snippet end
<% end %>
endsnippet

snippet div
<div class="$1">

</div>
endsnippet

snippet else
<% else %>
endsnippet

snippet p
<p>$1</p>
endsnippet

snippet h1
<h1>$1</h1>
endsnippet

snippet h2
<h2>$1</h2>
endsnippet

snippet h3
<h3>$1</h3>
endsnippet


